#banner_box {
  width: 95%;
  max-width: 660px;
  height: 80px;
  border: 1px solid rgba(223, 225, 229, 0.7);
  border-radius: 10px;
  padding-left: 20px;
  display: flex;
}

@media screen and (max-width: 738px) {
  #banner_box {
    width: 90%;
  }
}

#banner_box_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 80px);
  height: 80px;
}

#banner_box_left_top {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

#banner_box_left_bottom {
  font-size: 14px;
  opacity: 0.3;
}

#banner_box_right {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner_box_right_img {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: 0.3s ease-in-out;
}

/* #banner_box:hover > #banner_box_right > #banner_box_right_img {
  width: 70px;
  height: 70px;
} */
