.category_card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 130px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  margin-right: 10px;
  /* border: 1px solid rgba(223, 225, 229, 1); */
  transition: transform 0.3s ease-in-out;
  opacity: 0.3;
  overflow: hidden;
}

.category_card:last-child {
  margin-right: 0;
}

.category_card:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  opacity: 1;
  transform: scale(1.1);
}

.category_card_top {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.category_card_top_box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid rgba(235, 235, 235, 1); */
  overflow: hidden;
}

.category_card_top_box_img {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.category_card_bottom {
  width: 100px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  margin-top: -10px;
}
