#dog > img,
#cat > img {
  position: absolute;
  bottom: 0;
  height: 350px;
}

#dog > img:hover,
#cat > img:hover {
  height: 380px;
  transition: 0.5s ease-in-out;
}

#dog > img {
  right: 0;
}

#cat > img {
  left: 0;
}
