#dog > img,
#cat > img {
  position: absolute;
  bottom: 0;
  height: 400px;
}

@media screen and (max-width: 1400px) {
  #dog > img,
  #cat > img {
    height: 350px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1100px) {
  #dog > img,
  #cat > img {
    height: 300px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 930px) {
  #dog > img,
  #cat > img {
    height: 250px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 850px) {
  #dog > img,
  #cat > img {
    height: 200px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 650px) {
  #dog > img,
  #cat > img {
    height: 150px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 350px) {
  #dog > img,
  #cat > img {
    height: 100px;
    transition: 0.5s ease-in-out;
  }
}

#dog > img:hover,
#cat > img:hover {
  height: 440px;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1400px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 385px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1100px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 330px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 930px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 275px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 850px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 220px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 650px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 165px;
    transition: 0.5s ease-in-out;
  }
}

@media screen and (max-width: 350px) {
  #dog > img:hover,
  #cat > img:hover {
    height: 110px;
    transition: 0.5s ease-in-out;
  }
}

#dog > img {
  right: 0;
}

#cat > img {
  left: 0;
}
